.column1{
    float:left;
    width:48%;
    padding:3px;
    height:285px;
    margin: 58px 0px;


}

.column1 img{
    border-radius: 0px;
    height:100%;
    width:100%;

}

.column2{
    float: right;
    width: 50%;
    padding: 3px;
    height: 280px;
    margin: 60px 3px;
    
}



.row:after{
    content: "";
    display: table;
    clear: both;
}

.Contact{
 box-sizing: border-box;
}


.column2 h1{
    color:black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

form{
    margin: 0px 74px;
    padding: 3px 20px;
    
}

.column2 input{
      border-radius: 2px black;

}

label{
    padding: 0px 0px;
    margin:0px 0px;
}

.btn6{
        padding: 2px 0px;
        margin:14px 65px;
        background-color: purple;
        height: 33px;
        height: 25px;
         width: 180px;
        margin-left: -1px;
          font-weight: bold;
          color:black;
          border-radius: 4px;
          border:2px black;
          text-align: center;
    }
    
    .btn6:hover{
        background-color: purple;
        color:white;
    
     }


     /* Info */
     
     .grid-container6{
        display: grid;
        grid-gap:2px 2px;
        grid-template-columns: auto auto auto;
        margin: 0px 7px;
        padding:0px 0px;
        width:33px;
     }

     .grid-item6 img{
         height:50%;
         width:50%;
         margin: 0px 115px;
         width:0px 0px;
         border-radius: 0px;
     }

     .grid-item6{
         width:500px;
     }
     
     .grid-item6 p{
        color:black;
        margin:0px 0px;
        padding: 0px 75px;
    padding-left: 117px;
        text-align: center;
        width:297px;
        margin:10px;
     }