
  .grid-container2{
     display:inline-grid;
     grid-gap:0px 0px;
     grid-template-columns:auto auto auto auto;
     margin:2px 2px;
     padding:2px 2px;
     grid-row-gap:0px;

 }

 .parainside{
     margin:2px 18px;
     padding:2px 2px;
 }


 .grid-item2{
    text-align: center;
    margin: 0px 0px;
    padding: 1px 0px;
    background-size: cover;
 }

 
.grid-item2 img{
    border-radius: 0px;
    height: 439px;
    width: 377px;
    padding: 0px 0px;
    margin: -5px 0px;
    
}

.btn2{
    background-color:white;
    color:black;
    margin:13px 12px;
    padding: 29px 29px;
    border:2px black;
}

.btn2:hover{
    background-color:purple;
    color:white;
    margin:13px 12px;
    padding: 29px 29px;
    border:2px black;
}

.proj-block{
    background-color: #e4e3e3;
    background-size: cover;
    padding: 2px 0px;
    margin: -1px 0px;

}

.proj-block:hover{
    background-color: yellow;
    color:black;
    padding: 3px 0px;
    margin: -1px 0px;
    grid-row-start:2;
     grid-row-end: 3;

}

