/* Home page */

h1{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: larger;
    margin:10px 10px;
    padding:62px 494px;
    color:silver;
}
.grid-container{
    display: grid;
    grid-gap:50px 50px;
    grid-template-columns: auto auto auto;
   
}

.grid-item{
    text-align:center;
}

.grid-item > p{
       padding:12px 10px;
}
  
.grid-item > h1{
    text-align: center;
    padding:4px;
    color: purple;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    text-align: center;
    border-radius: 4px;
}

img{
   border-radius:50%;
   width:50%;
   height:50%;

}

.middle{
    height:400px;
    width:100%;
    display:flex;
    /* padding:10px 40px; */
    
}

.middle > p{
    display:inline-flex;
}

#para-logo{
    margin:5px 4px;
    margin-left: 113px;
    border-radius:2px;
    width:100px ;
    height:200px;
    display: flex;
}

.btn{
      padding:2px 2px;
      margin:2px 2px;
      background-color: yellow;
      height: 67px;
      width: 180px;
      font-weight: bold;
      color:black;
      border-radius: 4px;
      border:2px black;
}

.btn:hover{
    background-color: purple;
    color:white;
}
